@charset "UTF-8";
:root {
  --colorScheme: light;
  --fontFamily: system-ui, -apple-system, BlinkMacSystemFont, "SF UI Text", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --contentWidth: 840px;
  --clr-text-primary: hsl(0, 0%, 5%);
  --clr-text-secondary: hsl(0, 0%, 40%);
  --clr-text-tertiary: hsl(0, 0%, 85%);
  --clr-text-quaternary: hsl(0, 0%, 95%);
  --brand-deg: 171;
  --clr-brand-45: hsl(var(--brand-deg), 39%, 45%);
  --clr-brand-55: hsl(var(--brand-deg), 39%, 55%);
  --clr-brand-65: hsl(var(--brand-deg), 39%, 65%);
  --clr-brand-75: hsl(var(--brand-deg), 39%, 75%);
  --clr-editor: green;
  --clr-warning: rgb(167, 0, 0);
  --clr-yellow: rgb(236, 216, 28);
  --clr-good: rgb(82, 136, 80);
  --clr-bg: #ffffff;
  --clr-bg-drk: #e9e9e9;
}

html {
  color-scheme: var(--colorScheme);
  font-family: var(--fontFamily);
  color: var(--clr-text-primary);
  background-color: var(--clr-bg);
}

body {
  margin: 1em;
  overflow-y: overlay;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #666d78;
}

a {
  text-decoration: none;
  color: var(--clr-brand-45);
  transition: color 0.3s ease;
}
a:hover {
  color: var(--clr-brand-75) !important;
}
a:active {
  color: var(--clr-brand-45) !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid var(--clr-text-tertiary);
  padding: 0.25em 0.5em;
  text-align: center;
}
table th {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--clr-text-quaternary);
}

input:not([type=range], [type=button]), textarea {
  font-family: var(--fontFamily);
  padding: 0.5em 0.75em;
  border: 2px solid var(--clr-text-tertiary);
  border-radius: 4px;
  outline: none;
}

:is(input, input[type=text], input[type=password], textarea):focus {
  border-color: var(--clr-brand-45);
}

button, .btn, input[type=submit] {
  font-family: var(--fontFamily);
  border: none;
  background: var(--clr-brand-55);
  transition: background-color 0.5s ease, box-shadow 0.1s ease, translate 0.1s ease;
  padding: 0.75em 1.5em;
  color: white;
  box-shadow: 0px 2px 0px 0px var(--clr-brand-45);
  border-radius: 4px;
  font-weight: 500;
}
button:hover, .btn:hover, input[type=submit]:hover {
  background: var(--clr-brand-65);
}
button:active, .btn:active, input[type=submit]:active {
  background: var(--clr-brand-55);
  box-shadow: 0px 0px 0px 0px var(--clr-brand-45);
  translate: 0 2px;
}
button.disabled, .btn.disabled, input[type=submit].disabled {
  color: red;
}

input[type=range] {
  -webkit-appearance: none !important;
  background-image: linear-gradient(90deg, hsl(0deg, 100%, 50%), hsl(40deg, 100%, 50%), hsl(80deg, 100%, 50%), hsl(120deg, 100%, 50%), hsl(160deg, 100%, 50%), hsl(200deg, 100%, 50%), hsl(240deg, 100%, 50%), hsl(280deg, 100%, 50%), hsl(320deg, 100%, 50%), hsl(0deg, 100%, 50%));
  height: 1.5em;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: var(--clr-brand-45);
  height: 1.5em;
  width: 1.5em;
}

.btn-material-icon {
  display: flex;
  gap: 0.25em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: row-reverse;
}
.btn-material-icon--middle {
  margin: 1em auto;
}
.btn-material-icon > span:nth-child(2) {
  color: var(--clr-text-primary);
  cursor: pointer;
  transition: color 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
}
.btn-material-icon.editor span {
  color: var(--clr-editor);
}
.btn-material-icon.warning span {
  color: var(--clr-warning);
}
.btn-material-icon:hover * {
  color: var(--clr-brand-45) !important;
}
.btn-material-icon--small span {
  color: var(--clr-text-tertiary) !important;
}
.btn-material-icon--small > span:nth-child(2) {
  font-weight: normal;
}
.btn-material-icon.disabled {
  opacity: 0.2;
  cursor: not-allowed !important;
}
.btn-material-icon.disabled:hover * {
  color: initial !important;
}
.btn-material-icon.disabled > span {
  cursor: not-allowed !important;
}

.material-icons {
  cursor: pointer;
  color: var(--clr-text-primary);
  transition: color 0.3s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.material-icons:hover {
  color: var(--clr-brand-45) !important;
}

.avatar {
  border-radius: 50%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.btn-after-text {
  margin-left: 0.5em;
  font-size: inherit !important;
}
.btn-after-text + .btn-after-text {
  margin-left: 0.25em;
}

.forum-header, .forum-main, .forum-footer {
  max-width: var(--contentWidth);
  margin: auto;
}

.logo {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}

.forum-footer {
  margin-top: 2em;
}
.forum-footer__content {
  text-align: center;
  color: var(--clr-text-tertiary);
}

.forum-header {
  margin: 2em auto;
  display: grid;
  align-items: center;
  grid-template-columns: -webkit-min-content auto -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content auto min-content min-content;
  gap: 0 1em;
}
@media screen and (max-width: 430px) {
  .forum-header {
    gap: 0;
  }
}
.forum-header__image {
  max-width: 3.5em;
  grid-column: 1;
}
@media screen and (max-width: 430px) {
  .forum-header__image {
    display: none;
  }
}
.forum-header__title {
  grid-column: 2;
}
.forum-header__title--main {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin-top: -8px;
  color: var(--clr-text-primary);
  text-decoration: none;
  transition: color 0.5s ease;
}
.forum-header__title--main:hover {
  color: var(--clr-brand-65);
}
.forum-header__title--sub {
  color: var(--clr-text-secondary);
  font-size: 1em;
}
.forum-header__navigation {
  grid-column: 3;
}
@media screen and (max-width: 430px) {
  .forum-header__navigation {
    padding: 0 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .forum-header__navigation a span:nth-child(2) {
    display: none;
  }
}
.forum-header__navigation ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 0.5em;
  margin: 0;
  padding: 0;
  list-style: none;
}
.forum-header__navigation li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.forum-header__profile {
  grid-column: 4;
  display: grid;
  align-items: center;
  gap: 0 0.5em;
  border: 1px solid var(--clr-text-tertiary);
  padding: 0.25em 0.5em;
  border-radius: 2em 0 0 2em;
}
@media screen and (max-width: 460px) {
  .forum-header__profile {
    border-radius: 0;
    gap: 0;
  }
}
.forum-header__profile__photo {
  display: flex;
  grid-column: 1;
  grid-row: 1/span 2;
}
@media screen and (max-width: 460px) {
  .forum-header__profile__photo {
    display: none;
  }
}
.forum-header__profile__photo img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.forum-header__profile__name {
  grid-column: 2;
  grid-row: 1;
}
.forum-header__profile__name a {
  color: var(--clr-text-primary);
  font-weight: bold;
}
.forum-header__profile__settings {
  grid-column: 2;
  grid-row: 2;
}
.forum-header__profile__settings a {
  color: var(--clr-text-secondary);
}

.forum-main h2 {
  margin: 0 0 0.5em 0;
}
.forum-main p {
  margin: 0 0 0.5em 0;
}
.forum-main--middle {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.forum-main--middle form {
  width: min(90vw, 260px);
}
.forum-main--middle form input:invalid:focus:not(:-moz-placeholder-shown) {
  border: 2px solid var(--clr-yellow);
}
.forum-main--middle form input:invalid:focus:not(:-ms-input-placeholder) {
  border: 2px solid var(--clr-yellow);
}
.forum-main--middle form input:invalid:focus:not(:placeholder-shown) {
  border: 2px solid var(--clr-yellow);
}
.forum-main--middle form input:invalid:not(:-moz-placeholder-shown):not(:focus) {
  border: 2px solid var(--clr-warning);
  box-shadow: inset 0px 0px 20px 0px hsla(0deg, 100%, 50%, 0.15);
}
.forum-main--middle form input:invalid:not(:-ms-input-placeholder):not(:focus) {
  border: 2px solid var(--clr-warning);
  box-shadow: inset 0px 0px 20px 0px hsla(0deg, 100%, 50%, 0.15);
}
.forum-main--middle form input:invalid:not(:placeholder-shown):not(:focus) {
  border: 2px solid var(--clr-warning);
  box-shadow: inset 0px 0px 20px 0px hsla(0deg, 100%, 50%, 0.15);
}
.forum-main--middle form input:valid {
  border: 2px solid var(--clr-good);
}

@-webkit-keyframes fadeInAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.category, .topic, .reply {
  -webkit-animation: fadeInAnimation ease 1s forwards;
          animation: fadeInAnimation ease 1s forwards;
  -webkit-animation-delay: calc(var(--index) * 0.1s);
          animation-delay: calc(var(--index) * 0.1s);
  opacity: 0;
}

.forum-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.forum-list .category {
  border: 1px solid var(--clr-text-tertiary);
  border-radius: 4px;
  overflow: hidden;
  -webkit-animation: fadeInAnimation ease 1s forwards;
          animation: fadeInAnimation ease 1s forwards;
  -webkit-animation-delay: calc(var(--index) * 0.1s);
          animation-delay: calc(var(--index) * 0.1s);
  opacity: 0;
}
.forum-list .category__title {
  font-size: 1.5em;
  padding: 0.5em 0.75em;
  background-color: var(--clr-text-quaternary);
}
.forum-list .category .section-list {
  padding: 0 1em;
}
.forum-list .category .section-list:empty {
  padding: 0.75em 1em;
}
.forum-list .category .section-list:empty::after {
  content: "В данной категории нет разделов";
  font-style: italic;
  color: var(--clr-text-secondary);
}
.forum-list .category .section-list__row {
  padding: 1em 0;
  display: grid;
  grid-template-columns: auto 50px 200px;
  align-items: center;
  gap: 0 0.5em;
}
@media screen and (max-width: 440px) {
  .forum-list .category .section-list__row {
    padding: 0.5em 0;
  }
}
.forum-list .category .section-list__row--no-topics {
  grid-template-columns: auto 50px;
}
.forum-list .category .section-list__row:not(:last-child) {
  border-bottom: 1px solid var(--clr-text-tertiary);
}

.section-info {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.section-info__title {
  font-size: 1.25em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.section-info__description {
  color: var(--clr-text-secondary);
}
@media screen and (max-width: 440px) {
  .section-info__description {
    display: none;
  }
}

.section-topics {
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.section-topics__number {
  font-weight: bold;
  font-size: 1.25em;
}
.section-topics__word {
  color: var(--clr-text-secondary);
}
.section-topics--span {
  grid-column: 2/span 2;
}

.last-message {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  gap: 0 0.5em;
}
.last-message__image {
  width: 32px;
  border-radius: 50%;
  grid-column: 1;
  grid-row: 1/span 2;
}
.last-message__title {
  grid-column: 2;
}
.last-message__posted-by {
  grid-row: 2;
  color: var(--clr-text-secondary);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
form + span {
  text-align: center;
  display: block;
}

#modal {
  background-color: rgba(56, 56, 56, 0.418);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
}
#modal.show {
  opacity: 1;
  pointer-events: all;
}
#modal__wrapper {
  background-color: var(--clr-bg);
  width: min(90vw, 360px);
  padding: 1.5em;
}
#modal__content h2 {
  margin: 0 0 0.5em 0;
}
#modal__content p {
  margin: 0 0 1em 0;
}
#modal__btn-list {
  display: flex;
  gap: 0.5em;
  justify-content: flex-end;
}
#modal form span {
  align-self: end;
}

.editor {
  color: var(--clr-editor) !important;
}

.warning {
  color: var(--clr-warning) !important;
}

.settings-form {
  margin: 2em auto;
  display: grid;
  align-items: start;
  gap: 1em;
}
.settings-form__image {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}
.settings-form__image #image-preview {
  width: 48px;
  height: 48px;
}
.settings-form__btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.settings-form__btn-list .btn-style {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  border: 2px solid;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: opacity 0.5s ease;
  font-family: sans-serif;
}
.settings-form__btn-list .btn-style:hover {
  opacity: 0.6;
}
.settings-form__btn-list .btn-style[data-style=light] {
  background-color: #ffffff;
  border-color: hsl(0deg, 0%, 85%);
  color: black;
}
.settings-form__btn-list .btn-style[data-style=dark] {
  background-color: hsl(0deg, 0%, 15%);
  border-color: hsl(0deg, 0%, 40%);
  color: hsl(0deg, 0%, 90%);
}
.settings-form__btn-list .btn-style[data-style=console] {
  background-color: black;
  color: lime;
  font-family: "Courier New";
}
.settings-form button {
  grid-column: 2;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#user-list {
  margin-bottom: 1em;
}
#user-list .user-activated, #user-list .user-not-activated {
  cursor: pointer;
}
#user-list .user-activated {
  color: green;
}
#user-list .user-not-activated {
  color: var(--clr-warning);
  font-weight: 500;
}

#topic-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#form-new-topic {
  margin: auto;
}

.topic {
  display: grid;
  grid-template-columns: auto 60px;
  padding: 0.5em 0;
}
.topic:not(:last-child) {
  border-bottom: 1px solid var(--clr-text-tertiary);
}
.topic__info {
  color: var(--clr-text-secondary);
  display: flex;
  gap: 0.5em;
}
.topic__title__link {
  font-weight: 500;
}
.topic__replies {
  text-align: right;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  grid-column: 2;
  grid-row: 1/span 2;
}
.topic__replies__number {
  font-weight: bold;
  font-size: 1.25em;
}
.topic__replies__word {
  color: var(--clr-text-secondary);
}

#topic-header-message {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
  gap: 1em;
}
#topic-header-message__author {
  grid-column: 1;
  grid-row: 1;
  text-align: center;
}
#topic-header-message__author__photo {
  grid-column: 1;
  grid-row: 1;
  width: 96px;
}
#topic-header-message__content {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
#topic-header-message__content__date {
  color: var(--clr-text-secondary);
}
#topic-header-message__content__title {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-weight: bold;
  font-size: 1.5em;
}
#topic-header-message__btn-reply {
  grid-column: 1/span 2;
  grid-row: 2;
}
#topic-header-message #form-add-reply {
  grid-column: 1/span 2;
}

#topic-reply-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.reply {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.reply__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.reply__attachment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.reply__attachment--image {
  height: inherit;
  border: 1px solid var(--clr-text-tertiary);
  cursor: pointer;
  height: 120px;
}
.reply__header {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content auto;
  grid-template-columns: min-content min-content auto;
  gap: 0 0.5em;
}
.reply__header__title {
  grid-column: 2/span 2;
  font-weight: 500;
}
.reply__header__date {
  color: var(--clr-text-secondary);
}
.reply__header__image {
  grid-column: 1;
  grid-row: 1/span 2;
  width: 32px;
  align-self: center;
}
.reply__btn-list {
  display: flex;
  gap: 0.5em;
}
.reply__replies {
  display: grid;
  grid-template-columns: -webkit-min-content auto;
  grid-template-columns: min-content auto;
}
.reply__replies__wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  grid-column: 2;
}
.reply__replies__line {
  width: 1px;
  margin: 0 16px;
  background-color: var(--clr-text-tertiary);
  grid-column: 1;
  grid-row: 1/span 99;
}

.topic-hierarchy {
  display: flex;
  margin-bottom: 0.5em;
}
.topic-hierarchy__separator {
  color: var(--clr-text-tertiary);
  margin: 0 0.5em;
}
.topic-hierarchy a {
  color: var(--clr-text-tertiary);
}

#form-add-reply {
  max-width: 400px;
  border-left: 1px solid var(--clr-text-tertiary);
  padding-left: 16px;
  margin-left: 16px;
}

.editor-btn-list {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}
.editor-btn-list #btn-bold {
  font-weight: bold;
}
.editor-btn-list #btn-itallic {
  font-style: italic;
  font-family: initial;
}
.editor-btn-list #btn-strike {
  text-decoration: line-through;
}
.editor-btn-list #btn-underline {
  text-decoration: underline;
}
.editor-btn-list .editor-btn {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  aspect-ratio: 1/1;
  display: flex;
  width: 1.5em;
  align-items: center;
  justify-content: center;
  line-height: 0;
  background-color: var(--clr-text-quaternary);
  border: 1px solid var(--clr-text-tertiary);
}
.editor-btn-list .editor-btn:hover {
  opacity: 0.6;
}
.editor-btn-list #btn-attach {
  flex: auto;
}

#attachment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
#attachment-list .attachment--image {
  height: 64px;
  width: 64px;
  background-size: cover;
  background-position: center;
  border: 1px solid var(--clr-text-tertiary);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: box-shadow 0.5s ease;
  -webkit-animation: fadeInAnimation ease 1s forwards;
          animation: fadeInAnimation ease 1s forwards;
}
#attachment-list .attachment--image:hover {
  box-shadow: inset 0 0 20px 14px black;
}
#attachment-list .attachment--image:hover span {
  opacity: 1;
}
#attachment-list .attachment--image span {
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}
#attachment-list .attachment--other {
  display: flex;
  width: 100%;
}

#image-viewer {
  --offset-x: 0px;
  --offset-y: 0px;
  --scale: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: calc(-50% + var(--offset-x)) calc(-50% + var(--offset-y));
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 4px solid var(--clr-text-secondary);
  scale: var(--scale);
  -webkit-animation: scaleInAnimation ease 0.3s forwards;
          animation: scaleInAnimation ease 0.3s forwards;
  background-color: var(--clr-text-quaternary);
}
#image-viewer #selected-image {
  max-width: 80vw;
  max-height: 80vw;
  margin-bottom: -4px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#image-viewer #btn-close-image {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  color: var(--clr-bg);
  background-color: var(--clr-text-secondary);
  border-radius: 50%;
  text-align: center;
  padding: 4px;
}

@-webkit-keyframes scaleInAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleInAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
#search-input {
  width: -webkit-fill-available;
  margin-bottom: 1em;
}

.search-result-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.search-result-list .search-result__title {
  font-weight: 500;
}/*# sourceMappingURL=style.css.map */