<form method="POST" enctype="multipart/form-data" class="settings-form">
    <label for="photo">Аватар</label>
    <div class="settings-form__avatar">
        <img src="/profile/avatar/<?= $_SESSION['photo'] ?>" id="avatar-preview" class="avatar">
        <input type="button" value="Выбрать файл" onclick="document.getElementById('avatar-input').click()">
        <input type="file" name="photo" id="avatar-input" accept="image/*" onchange="showLogo(this)" hidden>        
    </div>   
    <button type="submit">Сохранить изменения</button>
</form>
<script src="/forum/js/settings.js"></script>