<h2><?=$_SECTION_TITLE?></h2>
<p><?=$_SECTION_DESCRIPTION?></p>

<script src="/forum/js/topics.js" defer></script>
<div id="topic-list"></div>

<? if ($_IS_USER): ?>
<div id="btn-add-topic" class="btn-material-icon btn-material-icon--middle"><span class="material-icons">add_circle</span><span>Создать новую тему</span></div>
<form id="form-new-topic" style="display: none" action="/forum/add_topic.php" method="post">
    <input type="hidden" name="section" value="<?=$_SECTION_ID?>">
    <label for="title">Заголовок сообщения</label>
    <input type="text" name="title" required>
    <label for="text">Текст сообщения</label>
    <textarea name="text" rows="5" required></textarea>
    <input type="submit" value="Создать тему">
</form>
<? endif; ?>